@model NET_MVC5_Bootstrap3_3_1_LESS.Models.TextAnalysis
@{
    ViewBag.Title = "Home Page";
}

<style>
    html, body, .container {
        height: 100%;
    }

    textarea.form-control {
        height: 500px;
        width: 400px;
        max-width: 100%;
    }
    .text {
        font-size: 14px !important;
        line-height: 16px;
    }
</style>

<a href="Linkedin/Index">Linkedin</a>
